<h1>Reviews</h1>

<table>
  <tr>
    <th>Author</th>
    <th>Content</th>
    <th>Rank</th>
    <th></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.author %></td>
    <td><%= review.content %></td>
    <td><%= review.rank %></td>
    <td><%= link_to 'Show', review %></td>
<% end %>
</table>

<br />

<%= link_to 'New Review', new_review_path %>
